{
  "printWidth": 150,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "quoteProps": "as-needed"
}
